.container__botao:checked~ .container__hover > .cabecalho__menu-hamburguer {
    background-image: url(../assets/MenuAberto.svg);
    background-position: center;
}
.container__botao:checked~.container__hover {
    background: var(--azul-degrade);
    padding: 1em;
}
.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url(../assets/Menu.svg);
    display: inline-block;
    background-repeat: no-repeat;
}
.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}
.container {
    display: flex;
    align-items: center;
}
.container__imagem {
    padding: 1em;
}
.lista-menu {
    display: none;
    background-color: var(--branco);
}
.container__botao:checked~.lista-menu {
    display: block;
    position: absolute;
    top: 100%;
    width: 60vw;
}
.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;

}
.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}
.lista-menu__item {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__titulo,
.container__texto,
 .opcoes,
 .container__botao {
    display: none;
}

.container__imagem--favoritos {
    display: block;
}
@media screen and (min-width: 1024px) {
    .container__titulo, .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }
    .container__titulo {
        font-weight: 400;
        display: block;
    }
    .container__titulo--negrito {
        font-weight: 700;
    }
    .opcoes {
        display: flex;
    }
    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
    }
    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }
    .container__imagem--favoritos, .cabecalho__menu-hamburguer, .opcoes__botao {
        display: none;
    }
    .opcoes__botao:checked~ .lista-menu{
        display: block;
        position: absolute;
        top: 84%;
    }
    .opcoes__botao:checked ~ .opcoes__hover > .opcoes__item {
        background: var(--azul-degrade);
        color: var(--branco);
    }
    .opcoes__item {
        padding: 1em;
    }
    .lista-menu__item:hover {
        background: var(--azul-degrade);
    }
    .lista-menu__item:hover> .lista-menu__link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }
}
@media screen and (min-width: 1728px) {
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }
    .cabecalho {
        padding: 0 2em;
    }
    .container__texto {
        display: block;
        margin-right: 1.5em;
    }
    .opcoes {
        margin-right: auto;
    }
}

